
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (TempData["Success"] != null)
    {
        <h2>@TempData["Success"]</h2>
    }

@if (TempData["Error"] != null)
    {
        <h2>@TempData["Error"]</h2>
    }
